<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RepRancher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <RepRancher.Properties.Settings>
      <setting name="NoisyClient" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ErrorFile" serializeAs="String">
        <value>C:\Windows\Temp\RepRancher\Error.txt</value>
      </setting>
      <setting name="MakerFarmClientAPIKey" serializeAs="String">
        <value>S3cretKeyP4ssword</value>
      </setting>
      <setting name="MakerFarmClientID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MakerFarmTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MakerFarmAPIUri" serializeAs="String">
        <value>http://lothar.architecture.yale.edu:50614/odata/</value>
      </setting>
      <setting name="MakerFarmClientEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ErrorTimer" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RancherBrands" serializeAs="Xml">
        <value>
          <ArrayOfRancherBrand xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <RancherBrand>
              <Enabled>true</Enabled>
              <Type>Conveyor_2_4_1</Type>
              <PrintTemporaryFileStoragePath>C:\Windows\Temp\_2_4_1_Client\</PrintTemporaryFileStoragePath>
              <PrinterReplyTimeout>5</PrinterReplyTimeout>
              <IPAddress>127.0.0.1</IPAddress>
              <PortNumber>9999</PortNumber>
              <AdvancedConfigurationString>test</AdvancedConfigurationString>
            </RancherBrand>
            <RancherBrand>
              <Enabled>false</Enabled>
              <Type>Conveyor_3_0_0</Type>
              <PrintTemporaryFileStoragePath>C:\Windows\Temp\_3_0_0_Client\</PrintTemporaryFileStoragePath>
              <PrinterReplyTimeout>5</PrinterReplyTimeout>
              <IPAddress>127.0.0.1</IPAddress>
              <PortNumber>9999</PortNumber>
              <AdvancedConfigurationString>Invalid</AdvancedConfigurationString>
            </RancherBrand>
            <RancherBrand>
              <Enabled>false</Enabled>
              <Type>DimensionSST768</Type>
              <PrintTemporaryFileStoragePath>C:\Windows\Temp\Dimension_Client</PrintTemporaryFileStoragePath>
              <PrinterReplyTimeout>5</PrinterReplyTimeout>
              <IPAddress>127.0.0.1</IPAddress>
              <PortNumber>5054</PortNumber>
              <AdvancedConfigurationString>Invalid</AdvancedConfigurationString>
            </RancherBrand>
          </ArrayOfRancherBrand>
        </value>
      </setting>
    </RepRancher.Properties.Settings>
  </applicationSettings>
</configuration>