<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="KeepAliveTime" value="500" />
    <add key="MakerFarmTime" value="10" />
    <add key="ErrorTimer" value="2" />
    <add key="NoisyClient" value="false" />
    <add key="EnableMakerFarmClient" value="false" />
    <add key="MakerFarmClientID" value="1" />
    <add key="MakerFarmClientAPIKey" value="2607E806-EFBE-40C9-90A2-FB9AFC52B642" />
    <add key="MakerFarmAPIUri" value="http://lothar.architecture.yale.edu:50614/odata/" />
    <add key="ErrorFile" value="C:\Temp\error.txt" />
    <add key="TemporaryFileStorage" value="C:\Temp\Files\"/>
  </appSettings>
</configuration>